{% extends 'base.html' %}

{% load static %}

{% block title %}Authentication{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'authentication/authentication.css' %}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock head %}

{% block body %}
<div class="auth-container">
    {% csrf_token %}

    <div class="auth-container-content">
        <img src="{% static 'authentication\girl.svg' %}"/>
    </div>
    <div class="auth-container-content auth-login-container">
        <p class="auth-title">Petualanganku</p>
        <p class="auth-subtitle"><b>Login</b></p>
        <input class="auth-input-text" id="login-email" placeholder="Email address" type="email"/>
        <input class="auth-input-text" id="login-pass" placeholder="Password" type="password"/>
        <p class="auth-subtitle"><b>Forgot Password?</b></p>

        <div class="auth-button-container">
            <button class="auth-button" id="login-btn">Sign In</button>
            <button class="auth-button">Register</button>
        </div>
        
        <p class="auth-subtitle">or sign in with</p>

        <div class="auth-button-container">
            <button class="auth-social-button login-google">
                <i class="fa fa-google"></i>
            </button>
            <button class="auth-social-button login-facebook">
                <i class="fa fa-facebook"></i>
            </button>
            <button class="auth-social-button login-twitter">
                <i class="fa fa-twitter"></i>
            </button>
        </div>
    </div>
</div>
<!-- 
    TODO: register with email #signup-email #signup-pass #signup-confirm #signup-btn
    TODO: login with email #login-email #login-pass #login-btn
    TODO: login with google .login-google
    TODO: login with facebook .login-facebook
    TODO: login with twitter .login-twitter
 -->
{% endblock body %}

{% block script %}
<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-app.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/7.19.0/firebase-auth.js"></script>
<script src="{% static 'authentication/authentication.js' %}"></script>
{% endblock script %}