{% extends 'base_navbar.html' %}

{% load static %}

{% block title %}
Accepted Form
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'manage_report/style.css' %}">
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center mt-3">

    <form action="/manage-report/accept-report/{{report_id}}" method="POST">
        {% csrf_token %}

        <div class="form-floating">
            <textarea name="messages" class="form-control" placeholder="Leave a message here" id="floatingTextarea" required></textarea>
            <label for="floatingTextarea">Messages to author</label>
            <div class="form-text">Please fill in the reasons why this blog deserves to be deleted</div>
        </div>
        <button type="button" class="btn dark-button submit-button" data-bs-toggle="modal" data-bs-target="#my-modal-2">Submit</button>
    
    
        <!-- Modal for Accept Report -->
        <div class="modal" id="my-modal-2" tabindex="-1">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <p>Are you sure want to accept this report?</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn light-button" data-bs-dismiss="modal">Cancel</button>
                <input type="submit" value="Yes" class="btn dark-button">
                </div>
            </div>
        </div>

    </form>

    
</div>
{% endblock %}