{% extends 'base_navbar.html' %}

{% load static %}

{% block title %}
Report Detail
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'manage_report/style.css' %}">
{% endblock %}

{% block body %}
<div class="container mt-3 mb-3">
  <div class="button-container float-end">
      <button type="button" class="btn btn-lg light-button" data-bs-toggle="modal" data-bs-target="#my-modal">Reject</button>
      <button type="button" class="btn btn-lg dark-button" onclick="location.href='/manage-report/report-detail/accepted-form/{{report_id}}';">Accept</button>
  </div>
  <p class="fs-1">This blog is reported for {{report_type}} indication.</p>
  <p class="fs-6">{{report_description}}</p>
  <p class="fs-6"><small class="text-muted">Reported on {{report_created_at}}</small></p>

  <hr>

  <p class="fs-1">{{blog_title}}</p>
  <p class="fs-6">Authored by: {{blog_author.username}}</p>
  <a href="/blog/{{blog_id}}" class="btn dark-button">View Blog</a>

  <hr>

  <p class="fs-1">Similar Reports to This Blog</p>
  
  {% for report in similar_reports %}
  {% if report.id != report_id  %}
  <div class="card w-75 mb-3">
      <div class="card-body">
        <h5 class="card-title">{{report.reportType}}</h5>
        <p class="card-text">{{report.reportDescription}}</p>
        <p class="card-text"><small class="text-muted">Reported on {{report.created_at}}</small></p>
        <a href="/manage-report/report-detail/{{report.id}}" class="btn dark-button">View Report</a>
      </div>
  </div>
  {% endif %}
  {% endfor %}
  
  <!-- Modal for Reject Report -->
  <div class="modal" id="my-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p>Are you sure want to reject this report?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn light-button" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn dark-button" onclick="location.href='/manage-report/reject-report/{{report_id}}';">Yes</button>
          </div>
        </div>
      </div>
  </div>

</div>
{% endblock %}