{% extends 'base_navbar.html' %}

{% load static %}

{% block title %}
Manage Reports
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'manage_report/style.css' %}">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row row-cols-2 mt-3 mb-3">
    <div class="col col-cols-2">
      <div class="row">
          <h1>Report List</h1>
      </div>
      <div class="row">
          <h6>Verify blogs that violate our community guidelines!</h6>
      </div>
    </div>
  </div>

  {% for report in report_list %}
  <div class="card mb-3" onclick="window.location='report-detail/{{report.id}}';">
      <img src="https://dummyimage.com/600x150/fffcf6/4aa5a5.png&text=Reported" class="card-img-top" alt="blog-image">
      <div class="card-body">
        <h5 class="card-title">{{report.blog.title}}</h5>
        <p class="card-text">This blog is reported for {{report.reportType}} indication.</p>
        <p class="card-text"><small class="text-muted">Reported on {{report.created_at}}</small></p>
      </div>
  </div>
  
  {% endfor %}

  <!--Custom Toast-->
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Notification</strong>
        <small>Just now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{toast_message}}
      </div>
    </div>
  </div>
  
</div>
{% endblock %}

{% block script %}
<script>
document.addEventListener("DOMContentLoaded", () => {
  var toast_message = '{{toast_message}}';
  if (toast_message.length != 0) {
    console.log("ada")
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function(toastEl) {
      return new bootstrap.Toast(toastEl)
    })
    toastList.forEach(toast => toast.show())
  } else {
    console.log("gaada");
  }
});
</script>
{% endblock %}