body, html {
    height: 100%;
    width: 100%;
}

.auth-container {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0 10%;
}

.auth-container-content {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.auth-login-container {
    flex-direction: column;
    gap: 1rem;
}

.auth-login-container p {
    margin: 0;
}

.auth-title {
    color: var(--main);
    font-size: 4rem;
    font-weight: bold;
}

.auth-subtitle {
    color: var(--main);
    font-size: 1.5rem;
}

.auth-input-text {
    border: 1px solid var(--gray);
    border-radius: 50vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 1rem;
    outline: none;
    padding: 0.5rem 1rem;
    width: 60%;
}

.auth-input-text::placeholder {
    color: var(--main);
}

.auth-input-text:-ms-input-placeholder {
    color: var(--main);
}

.auth-input-text::-ms-input-placeholder {
    color: var(--main);
}

.auth-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 60%;
}

.auth-button {
    background-color: inherit;
    border: 1px solid var(--main);
    border-radius: 50vh;
    color: var(--main);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    width: 100%;
}

#login-btn {
    background-color: var(--main);
    color: var(--white);
}

.auth-social-button {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    width: 2.5rem;
}

.login-google {
    background: #dd4b39;
    color: white;
}

.login-facebook {
    background: #3B5998;
    color: white;
}

.login-twitter {
    background: #55ACEE;
    color: white;
}