{% extends 'base.html' %}

{% load static %}

{% block title %}Homepage{% endblock title %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'navbar.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/about_us.css' %}" type="text/css">
{% endblock head %}

{% block body %}
{% include 'navbar.html' %}
<div class="main-container">
    <div class="submain-container">
        <div class='sub-container'>
            <img class="girlc" src="{% static 'img\girlc.svg'%}" alt="">
        </div>
        
        <div class="sub-container">
            <div class="sub-container-msg">
                <p class="title-page">About Us</p>
                <p class="desc-page"><span class="imp-word">Petualanganku</span> is a Blog app that let users share their travelling experiences in Indonesia.</p>
                <p class="desc-page"><span class="imp-word">(Made by C-15).</span></p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block script %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock script %}