{% extends 'base.html' %}

{% load static %}

{% block title %}Filter Search{% endblock title %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'navbar.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/filter_search.css' %}" type="text/css">
{% endblock head %}
{% block body %}
{% include 'navbar.html' %}
<div class="main-container">
    <div class='sub-container info'>
        <p class="title-page">Filter Search</p>
        <p class="desc-page">You can find searchable blogs in this web with extra additional help, <span class="imp-word">filters!</span> Through <span class="imp-word">activity and area filters</span>, you can find specific blogs that you wish 😊</p>
    </div>
    
    <div class="sub-container main-form-search">
        <form class="filter-search" id="filter-search-form" action="{% url 'home:search_result' %}" method="post">{% csrf_token %}</form>
        
        <div class="sub-form-search keyword-input">
            <p class="title-form">Keyword</p>
            <input class="keyword-search" type="text" name="keyword-search" form="filter-search-form" required>
        </div>
        
        <div class="sub-container-form activity-label">
            <p class="title-form">Activity Filter</p>
            <div class="activity-list">
                <select name="activity-label-list" id="activity-label-list">
                    <option value="-" disabled selected>-</option>
                    {% for act in list_act_all %}
                        <option value="{{act.id}}-{{act.name}}">{{act.name}}</option>
                    {% endfor %}
                </select>
                <input class="pick-label activity" type="button" value="+">
            </div>

            <div class="activity-label-input">
                
                <div class="activity-selected">
                    <ul class="list-label" id="list-act-picked">
                    </ul>
                </div>
            </div>
            
        </div>
        
        <div class="sub-container-form area-label">
            <p class="title-form">Area Filter</p>
            <div class="area-list">
                <div class="province-input">
                    <p class="subtitle-form"><span class="imp-word">Province</span></p>
                    <select name="province" id="province-list" class="item-province">
                        <option value="-" disabled selected>-</option>
                    </select>
                </div>          
                
                <div class="city-input">
                    <p class="subtitle-form"><span class="imp-word">City</span></p>
                    <select name="city" id="city-list" class="item-city">
                        <option value="-" disabled selected>-</option>
                    </select>
                </div>
                <input class="pick-label area" type="button" value="+">
            </div>

            <div class="area-label-input">
                <div class="area-selected">
                    <ul class="list-label" id="list-area-picked">

                    </ul>

                </div>
            </div> 

        </div>
        
        <input class="submit-search" type="submit" value="Search" form="filter-search-form">


    </div>
</div>
{% endblock body %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="{% static 'home/filter_search.js' %}"></script>
{% endblock script %}