{% extends 'base.html' %}

{% load static %}

{% block title %}Homepage{% endblock title %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'navbar.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/index.css' %}" type="text/css">
{% endblock head %}

{% block body %}
{% include 'navbar.html' %}
<div class="main-container">
    <div class='sub-container info'>
        <img src="{% static 'img\bag.svg'%}" alt="">
    {% if not list_blog_all %}
        <div class="sub-container-msg">
            <p class="title-page">Home</p>
            <p class="desc-page">No blogs can be found :(</p>
        </div>
    {% else %}
        <div class="sub-container-msg">
            <p class="title-page">Home</p>
            <p class="desc-page">Find numerous blog about travelling in Indonesia!</p>
        </div>
    </div>
    
    
    <div class="sub-container list-blog">
        {% for blog in list_blog_all %}
        
        <div class="card-blog">
            <a class="blog-details" href="{% url 'blog:detail_blog' blog.id %}">
                <span class="link-spanner"></span>
            </a>
            <div class="thumbnail-card-blog">
                {% if blog.thumbnail %}
                <img src="{{blog.thumbnail.url}}" class="thumb">
                {% else %}
                <img src="{% static 'img\issue-placeholder-thumbnail.jpg' %}" class="thumb">
                {% endif %}
            </div>
            <div class="info-card-blog">
                <div class="author-info">
                    <div class="author-pp">
                        <img src="{% static 'img\PP-Placeholder.svg' %}" alt="">
                    </div>
                    <p>{{blog.author}}</p>
                </div>
                <div class="blog-info">
                    <p class="blog-title">{{blog.title|safe}}</p>
                    <div class="blog-labels">
                        <ul class="list-label">
                            {% for ar in blog.blog_area_label.all %}
                            <li class="label-item">{{ ar.getLabel }}</li>
                            {% endfor %}

                            {% for ac in blog.activity_labels.all %}
                            <li class="label-item">{{ ac.name }}</li>
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="blog-numbers">
                        <div class="blog-n comment">
                            <img src="{% static 'img\comment.svg' %}"" alt="">
                            <p>{{blog.comments.all|length}}</p>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        
        {% endfor %}
        
    </div>
    {% endif %}
</div>
{% endblock body %}

{% block script %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock script %}