body {
    background-color: #FFFCF6;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 3em 0;
}

.sub-container.info {
    flex: 1;
    margin: 0 2.5em 0 5em;
}

.sub-container.form-search {
    flex: 1;
    margin: 0 5em 0 2.5em;
}

.keyword-input {
    margin-bottom: 2em;
}

.keyword-input input{
    border-radius: 1em;
    border: 1px solid #4AA5A5;
    width: 100%;
    height: 2em;
    padding: 0 0.75em;
}

.activity-label-input {
    margin-bottom: 2em;
}

.area-label-input {
    margin-bottom: 2em;
}

.pick-label {
    border-radius: 0.5em;
    margin-left: 1em;
    background-color: #4AA5A5;
    color: #FFFCF6;
    border-style: none;
    font-weight: bold;
}

button.pick-label.area {
    height: 47%;
    align-self: flex-end;
}

.title-page {
    font-size: 3em;
    font-weight: 500;
    color: #4AA5A5;
}

.title-form {
    font-size: 1.5em;
    font-weight: 600;
}

.area-list {
    display: flex;
}

.area-list p {
    margin-bottom: 0;
}

.province-input {
    margin-right: 2em;
}

input.submit-search {
    border-radius: 2em;
    background-color: #4AA5A5;
    color: #FFFCF6;
    border-style: none;
    padding: 0.5em 1em;
    font-weight: bold;
}

.list-label {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.list-label li{
    background-color: #4AA5A5;
    margin-right: 1.5em;
    padding: 0.25em 0.25em 0.25em 0.75em;
    border-radius: 0.5em;
    color: #FFFCF6;
}

.delete-item {
    background-color: #4AA5A5;
    border: none;
    border-left: 2px solid #FFFCF6;
    color: #FFFCF6;
    font-weight: bold;
    margin-left: 0.5em;
    
}

select {
    border: 1px solid #4AA5A5;
}