body {
    background-color: #FFFCF6;
}

.main-container {
    width: 100%;
    height: 100%;
    margin: 3em 0;
}

.sub-container.info {
    margin: 0 5em;
}

.sub-container.search-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 5em;
}

.title-page {
    font-size: 3em;
    font-weight: 500;
    color: #4AA5A5;
}

.card-blog {
    border: 1px solid #4AA5A5;
    width: 40%;
    height: auto;
    margin-bottom: 2em;
    border-radius: 1em;
}

.thumbnail-card-blog {
    height: 10em;  
}

img.thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.info-card-blog {
    display: flex;    
}

.author-info {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
}

.author-info .author-pp {
    width: 4em;
}

.author-info .author-pp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2em;
}

.author-info p{
    color: #4AA5A5;
    text-align: center;
}

.blog-info {
    flex: 2;
}

.blog-title {
    color: #4AA5A5;
    font-size: 3em;
    font-weight: 500;
}

.blog-labels .list-label {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.list-label li{
    background-color: #4AA5A5;
    margin-right: 1.5em;
    margin-bottom: 1em;
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    color: #FFFCF6;
}

.blog-numbers {
    display: flex;
    margin-bottom: 1em;
}

.blog-numbers .blog-n {
    display: flex;
    margin-right: 2em;
    align-items: center;
}

.blog-n p {
    margin-left: 0.5em;
    font-size: 1.25em;
    margin-bottom: 0;
}



