.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #FFFCF6;
  margin: auto;
  text-align: center;
  padding: 0;
  border: 1px solid #888;
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close-modal {
  color: white;
  float: right;
  font-size: 2em;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  color: #FFFCF6;
  padding: 2em 3em;
  background-color: #4AA5A5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-form {
  margin: 0;
}

.modal-body {  
  margin: 2em 3em;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #4AA5A5;
  color: white;
}

body {
  background-color: #FFFCF6;
}


.view-container {
  border-bottom: 2px solid #4AA5A5;
}

.subtitle-view {
  font-size: 1.25em;
  color: #4AA5A5;
}

.sub-form-container {
  border-bottom: 2px solid #4AA5A5;
}

.modal ul.list-label{
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.modal li.area-items, li.activity-items {
  list-style: none;
  padding: 4px 8px;
  color: #FFFCF6;
}

.modal .item-container {
  display: flex;
  background-color: #4AA5A5;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 1em;
}

.submit-label {
  margin: 1em 0;
}

.save-label {
  margin: 1em 0;
}

.select-container {
  width: 50%;
  border-radius: 4px;
  font-size: medium;
}

.select-container:focus {
  border: 1px solid #4AA5A5;
}

.modal-content input {
  border: none;
  background-color: #4AA5A5;
  color: #FFFCF6;
}

input.submit-label {
  font-size: 1em;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px 8px;
}

input.save-label {
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
}



  