

[contenteditable] {
    outline: 0px solid transparent;
}

input[type="text"]:disabled {
    background-color: inherit;
}

#blog-editor-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    width: 100%;
}

/* Blog Information Editor */

#info-editor {
    align-items: stretch;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px 0 var(--gray);
    display: flex;
    flex: none;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
}

.save-indicator.saved {
    color: var(--main);
    margin: 0;
    margin-top: 0.2rem;
}

.save-indicator.saving {
    color: var(--black);
    margin: 0;
    margin-top: 0.2rem;
}

.save-indicator.not-saved {
    color: var(--danger);
    margin: 0;
    margin-top: 0.2rem;
}

.info-editor-title {
    font-size: x-large;
    font-weight: bold;
    margin: 0;
}

.info-form-item {
    margin-top: 1rem;
    width: 240px;
}

.info-form-image-input {
    align-items: center;
    background-color: var(--main);
    cursor: pointer;
    display: flex;
    flex: none;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    width: 240px;
}

.info-form-thumbnail-preview {
    height: 100%;
    width: 100%;
}

.info-form-image-text {
    color: var(--white);
}

.info-form-input {
    border: none;
    border-bottom: 1px solid var(--lightgray);
    padding: 0 0 0.5rem 0;
    width: 240px;
}

.info-form-input:focus {
    border-bottom: 1px solid var(--gray);
    outline: none;
}

.info-form-button-container {
    display: flex;
    flex-direction: row;
}

.info-form-image-text {
    color: var(--white);
}

.info-form-input {
    border: none;
    border-bottom: 1px solid var(--lightgray);
    padding: 0 0 0.5rem 0;
    width: 100%;
}

.info-form-input:focus {
    border-bottom: 1px solid var(--gray);
    outline: none;
}

.info-form-button-container {
    display: flex;
    flex-direction: row;
}

.info-form-button {
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    flex: 1;
    font-size: medium;
    font-weight: bold;
    padding: 0.5rem 0;
}

.info-form-save, .info-form-unpublish {
    background-color: inherit;
    color: var(--main);
}

.info-form-save:active, .info-form-unpublish {
    color: var(--main-dark);
}

.info-form-publish {
    background-color: var(--main);
    color: var(--white);
}


.info-form-publish:active {
    background-color: var(--main-dark);
}

/* Blog Label Editor */
.info-form-labels-btn {
    display: flex;
    justify-content: space-between;
}

.info-form-label {
    width: 110px;
    white-space: normal;
    font-weight: normal;
}

.info-form-label {
    background-color: var(--white);
    color: var(--main);
    border: 2px solid var(--main);
    font-size: small;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.label-placeholder-input {
    font-size: small;
    color: var(--gray);
}

.labels-naming {
    font-size: smaller;
    text-decoration: underline;
    color: var(--main);
    font-weight: bold;
}

.list-label-blog {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.list-label-blog li{
    font-size: small;
    background-color: #4AA5A5;
    margin: 0.5em 1em;
    padding: 0.25em 0.75em;
    border-radius: 0.5em;
    color: #FFFCF6;
}

/* Blog Content Editor */

#content-editor {
    flex: none;
    width: 640px;
}

#content-editor-title {
    font-size: x-large;
}

.form-text {
    font-size: large;
}

.form-text[placeholder]:empty:before {
    color: var(--lightgray); 
    content: attr(placeholder);
    cursor: text;
}

.form-text[placeholder]:empty:focus:before {
    content: "";
}

p.form-caption {
    font-size: medium;
    margin-top: 0;
    text-align: center;
}

.image-content {
    max-width: 100%;
    width: auto;
    height: auto;
}

.editor {
    margin-top: 20px;
    position: relative;
}

.editor-trailing {
    text-align: center;
    margin: 0 auto;
}

.editor-image {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Add and remove section */

.button-add-section {
    background-color: inherit;
    border: none;
    color: var(--lightgray);
    cursor: pointer;
    font-size: large;
}

.button-add-section:hover {
    background-color: inherit;
    color: var(--gray);
}

.button-remove-section {
    background-color: inherit;
    border: 2px solid var(--lightgray);
    border-radius: 50%;
    color: var(--lightgray);
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    height: 24px;
    justify-content: center;
    left: -45px;
    position: absolute;
    top: 2px;
    visibility: hidden;
    width: 24px;
}

.button-remove-section:hover {
    border: 2px solid var(--danger);
    color: var(--danger);
}

.button-remove-section i {
    margin: auto;
}

/* Text styling tools */

#tools {
    position: fixed;
    display: none;
    background-color: var(--black);
    border-radius: 5px;
    opacity: 80%;
    padding: 7px 7px;
}

.tools-item {
	background-color: inherit;
    color: var(--white);
    border: none;
    font-size: large;
    cursor: pointer;
}