{% extends 'labels/base.html' %}

{% block title %}Add label{% endblock title %}

{% block navigation %}
    <div class="nav-button"><a href='{% url 'labels:manage' %}'>Manage</a></div>
    <div class="nav-button"><a href='{% url 'labels:edit' %}'>Edit</a></div>
    <div class="nav-button"><a href='{% url 'labels:delete' %}'>Delete</a></div>   
{% endblock navigation %}

{% block content %}
   
    
    <form method="POST" action="{% url 'labels:add' %}" class="form">
        {% csrf_token %}
        <div class="form-field">Label name</div>
        <div class="form-group">
            <input name='label-name' type="text" placeholder="Insert label name..." required>
        </div>
        <div class="form-button">
            <input type="submit" value="Add">
        </div>
    </form>

{% endblock content %}
