{% extends 'base.html' %}

{% load static %}


{% block head %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'navbar.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'labels/styles.css' %}" type="text/css">


{% endblock head %}

{% block body %}

    {% include 'navbar.html' %}    
    <div class="messages">
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="message {{ message.tags }}" {% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}
    </div>
    <div class="navigation-parent">
    {% block navigation %}
    {% endblock navigation %}
    </div>
    <div class="content">
    {% block content %}
    {% endblock content %}
    </div>
{% endblock body %}

{% block script %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock script %}
