{% extends 'labels/base.html' %}

{% block title %}Edit label{% endblock title %}


{% block navigation %}
    <div class="nav-button"><a href='{% url 'labels:add' %}'>Add</a></div>
    <div class="nav-button"><a href='{% url 'labels:manage' %}'>Manage</a></div>
    <div class="nav-button"><a href='{% url 'labels:delete' %}'>Delete</a></div>
{% endblock navigation %}

{% block content %}

    <form method="POST" action="{% url 'labels:edit' %}" class="form">
        {% csrf_token %}
        <div class="form-field">Label name</div>
        <div class="form-group">
            <input name='label-name' type="text" placeholder="Insert label name..." value="{{ label_name }}" required>
        </div>
        <div class="form-field">New label name</div>
        <div class="form-group">
            <input name='new-label-name' type="text" placeholder="Insert new label name..." value="{{ new_label_name }}" required>
        </div>
        <div class="form-button">
            <input type="submit" value="Edit">
        </div>
    </form>

{% endblock content %}
