{% extends 'labels/base.html' %}

{% block title %}Manage labels{% endblock title %}


{% block navigation %}
    <div class="nav-button"><a href='{% url 'labels:add' %}'>Add</a></div>
    <div class="nav-button"><a href='{% url 'labels:edit' %}'>Edit</a></div>
    <div class="nav-button"><a href='{% url 'labels:delete' %}'>Delete</a></div>
{% endblock navigation %}

{% block content %}

    <table class="labels-table">
        <thead>
            <tr>
                <th>Label Name</th>
            </tr>
        </thead>
        <tbody>
        {% for label in labels %}
            <tr class="table-row">
                <td> {{ label }} </td>
            </tr>
        {% endfor %}
        </tbody> 
        
    </table> 

{% endblock content %}
