:root {
    --red: #FF0000;
}

body {
    background-color: var(--white);
}
.navigation-parent {
    display: flex;
    flex-direction: row;
    margin: 1vw;

}

.nav-button {
    padding: 0.5vw;
    margin-right: 0.5vw;
    background-color: var(--main);
    min-width: 4vw;
    text-align: center;
    border-radius: 4vw;
}

.nav-button:hover {
    background-color: var(--main-dark);
}

.nav-button:active {
    background-color: var(--white);
}

.nav-button a {
    text-decoration: none;
    color: var(--white);
}

.nav-button a:active {
    text-decoration: none;
    color: var(--main);
}

.labels-table {
    min-width: 80vw;
    margin: auto;
}


.labels-table thead tr {
    background-color: var(--main-dark);
    color: var(--white);
    text-align: left;
}

.labels-table th, .labels-table td {
    padding: 0.5vw;
    text-align: center;
}

.labels-table td:hover {
    background-color: var(--lightgray);

}
.content {
    padding: 1vw;
}

.messages {
    padding: 1vw;
}

.message {
    padding: 0.5vw;
    color: var(--white);
    border-radius: 4vw;
    text-align: center;
}
.message.success {
    background-color: var(--main);
}

.message.error {
    background-color: var(--danger);
}


form * {
    margin-top: 0.5vw;
}

.form-group input {
    background-color: var(--white);
}
.form-button input {
    border: none;
    background-color: var(--main);
    color: var(--white);
    padding: 0.5vw;
    border-radius: 1vw;
}


.form-button input:hover {
    background-color: var(--main-dark);
}

.form-button input:active {
    background-color: var(--white);
}

.form-group input {
    border:none;
}
