#list-container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem auto;
    width: 640px;
}

/* Header */
.header-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-title {
    color: var(--black);
    font-weight: bold;
    font-size: x-large;
    margin: 0;
}

.header-subtitle {
    color: var(--gray);
    font-size: small;
    margin: 0;
}

.header-write-button {
    background-color: inherit;
    border: 1px solid var(--main);
    border-radius: 50vh;
    color: var(--main);
    cursor: pointer;
    padding: 0.5rem 1rem;
}

/* Blog cards */

.blog-container {
    box-shadow: 0 0.2rem 0.2rem 0 var(--lightgray);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    transition: 0.2s;
}

.blog-container:hover {
    box-shadow: 0 0.3rem 0.3rem 0 var(--lightgray);
}

.blog-thumbnail-container {
    background-color: var(--main);
    border-radius: 0.5rem 0 0 0.5rem;
    text-align: center;
    width: 25%;
}

.blog-thumbnail {
    border-radius: 0.5rem 0 0 0.5rem;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

a {
    color: var(--black);
    text-decoration: none;
}

.blog-date {
    color: var(--gray);
    font-size: small;
    margin: 0;
}

.blog-status {
    font-size: small;
}

.blog-published {
    color: var(--main);
}

.blog-unpublished {
    color: var(--danger);
}