.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    text-align: center;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #4AA5A5;
    color: white;
  }
  
  .modal-body {
    margin: 2em 0;  
    padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #4AA5A5;
    color: white;
  }

  body {
    background-color: #FFFCF6;
}

.activity-label-input {
    margin-bottom: 2em;
}

.area-label-input {
    margin-bottom: 2em;
}

.pick-label {
    border-radius: 0.5em;
    margin-left: 1em;
    background-color: #4AA5A5;
    color: #FFFCF6;
    border-style: none;
    font-weight: bold;
}

button.pick-label.area {
    height: 47%;
    align-self: flex-end;
}


.title-form {
    font-size: 1.5em;
    font-weight: 600;
}

.subtitle-form {
    font-weight: 500;
}

.area-list {
    display: flex;
    justify-content: center;
}

.area-list p {
    margin-bottom: 0;
}

.province-input {
    margin-right: 2em;
}

input.add-label {
    border-radius: 2em;
    background-color: #4AA5A5;
    color: #FFFCF6;
    border-style: none;
    padding: 0.5em 1em;
    font-weight: bold;
}

.list-label {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.list-label li{
    background-color: #4AA5A5;
    margin: 0.5em 1em;
    padding: 0.25em 0.25em 0.25em 0.75em;
    border-radius: 0.5em;
    color: #FFFCF6;
}

.delete-item {
    background-color: #4AA5A5;
    border: none;
    border-left: 2px solid #FFFCF6;
    color: #FFFCF6;
    font-weight: bold;
    margin-left: 0.5em;
    
}

select {
    border: 1px solid #4AA5A5;
}
  