<!-- The Modal -->
<div id="myModal2" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="title-form">Manage Activity Label</h2>
            <span class="close-modal">&times;</span>
        </div>
        
        <div class="modal-body">
            <div class="view-container activity-selected">
                <p class="subtitle-view">Added Label</p>
                <div class="container-selected">
                    <ul class="list-label activity-selected" id="list-label activity-selected">
                        {% for ac in blog.activity_labels.all %}
                        <div class="item-container">
                            <li class="activity-items">
                                {{ ac.name }}
                            </li>
                            <a class="delete-item-label activity" href="{% url 'blog:delete_activity_label' blog.id ac.id %}">
                                <input class="delete-btn" type="button" value="&times;">
                            </a>
                        </div>
                        {% endfor %}
                    </ul>
                </div> 
            </div> 
            <div class="form-container activity-label">
                <form action="{% url 'blog:create_activity_label' blog.id %}" method="post" class="create-activity-label">
                    {% csrf_token %}
                    <div class="sub-form activity-input">
                        <p class="subtitle-form">Activity</p>
                        <select name="activity" id="activity-list" class="select-container item-activity">
                            <option value="-" disabled selected>-</option>
                        </select>
                    </div> 
                    <input class="submit-label activity-label" name="create-activity-label" type="submit" value="&plus;">
                </form>
            </div> 
            <a class="done-label" href="{% url 'blog:write' blog.id %}"><input class="save-label activity-label" type="button" value="Save Label"></a>
        </div>
        
    </div>
  
  </div>