<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="title-form">Manage Area Label</h2>
            <span class="close-modal">&times;</span>
        </div>
        
        <div class="modal-body">
            <div class="view-container area-selected">
                <p class="subtitle-view">Added Label</p>
                <div class="container-selected">
                    <ul class="list-label area-selected" id="list-label area-selected">
                        {% for ar in blog.blog_area_label.all %}
                        <div class="item-container">
                            <li class="area-items">
                                {{ ar.getLabel }}
                            </li>
                            <a class="delete-item-label area" href="{% url 'blog:delete_area_label' blog.id ar.id %}">
                                <input class="delete-btn" type="button" value="&times;">
                            </a>
                        </div>
                        {% endfor %}
                    </ul>
                </div> 
            </div> 
            <div class="form-container area-label">
                <form action="{% url 'blog:create_area_label' blog.id %}" method="post" class="create-area-label">
                    {% csrf_token %}
                    <div class="sub-form province-input">
                        <p class="subtitle-form">Province</p>
                        <select name="province" id="province-list" class="select-container item-province">
                            <option value="-" disabled selected>-</option>
                        </select>
                    </div> 

                    
                    <div class="sub-form city-input">
                        <p class="subtitle-form">City</p>
                        <select name="city" id="city-list" class="select-container item-city">
                            <option value="-" disabled selected>-</option>
                        </select>
                    </div>

                    <input class="submit-label area-label" name="create-area-label" type="submit" value="&plus;">
                </form>
            </div> 
            <a class="done-label" href="{% url 'blog:write' blog.id %}"><input class="save-label area-label" type="button" value="Save Label"></a>
        </div>
        
    </div>
  
  </div>