{% extends 'base_navbar_no_search.html' %}

{% load static %}

{% block title %}Petualanganku{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'blog/blog_detail/blog_detail.css' %}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
{% endblock head %}

{% block body %}
<div id="detail-container">
    <div id="detail-blog">
        <div class="content-title">
                <p class="content-text content-text-title">{{ blog.title|safe }}</p>
        </div>
        <div class="content-profile">
            <img class="content-profile-image" src="{% static 'blog/blog_detail/images/kirito.jpg' %}" alt="Italian Trulli">
            <a class="content-profile-user" href="#">{{ blog.author.username }}</a>
            <div class="content-flex-filler"></div>
            <button class="content-header-button" id="report-modal-button" data-bs-toggle="modal" data-bs-target="#report-modal" >Report</button>

            {% if request.user.username == blog.author.username %}
            <a href="{% url 'blog:write' id=blog.id %}"">
                <button class="content-header-button" id="edit-button">Edit</button>
            </a>
            {% endif %}
        </div>

        {% for section in blog.sections.all %}
        {% if section.text_content != '' %}

        <div class="content-p">
            <p class="content-text content-text-p">{{ section.text_content|safe }}</p>
        </div>

        {% elif section.image_content != '' %}

        <div class="content-image">
            <img class="content-image-file" src="{{ section.image_content.url }}"/>

            {% if section.caption_content != '' %}
            <p class="content-text content-text-caption">{{ section.caption_content|safe }}</p>
            {% endif %}

        </div>

        {% endif %}
        {% endfor %}
    </div>
    <div id="comment-section">
        <div id="myModal" class="modal-comment">
            <div class="modal-content-comment">
                <div class="modal-body-comment">
                    <span class="close" onclick="closeModalPopUp()">&times;</span>
                    <p id="modalNotification"></p>
                </div>
            </div>
        </div>
        <div id="deleteModal" class="modal-comment">
            <div class="modal-content-comment">
                <div class="modal-header">
                    <h2>Are you sure want to delete this comment?</h2>
                </div>
                <div class="modal-body-comment" id="deleteModalBody">
                    <button type="button" id="sureDelete" onclick=" deleteComment()">Sure</button>
                    <p id="cancelDelete" onclick="closeModalPopUp()">Cancel</p>
                </div>
            </div>
        </div>
        <hr color= "#4AC0C0">
        <div id="comment-header">
            <div id="header-not-form">
                <h1>Comments</h1>
                {% if user.is_authenticated %}
                    <button type="button" onclick="showCreateForm('{{ blog.id }}')">Create comment</button>
                {% endif %}
            </div>
        </div>
        {% if comments %}
        <div id="comment-comment">
            {% for comment in comments %}
            <div class="a-comment">
                <div class="comment-top">
                    <div class = "top-image">
                        <img src="{% static 'blog/blog_detail/images/asuna.jpg' %}" alt="Profile picture pembuat komentar yang tidak sedang login">
                    </div>
                    <div class = "no-image-top">
                        <h4>{{ comment.0.commentator.username }}</h4>
                        <p>{{ comment.0.timestamp }}</p>
                    </div>
                </div>
                <div class="comment-body">
                    <p>{{ comment.0.content }}</p>
                </div>
                {% if user.is_authenticated %}
                <div class="comment-command">
                    {% if user.username == comment.0.commentator.username %}
                    <div class="left-command">
                        <p onclick="showEditForm(this, '{{ comment.0.id }}')">Edit</p>
                        <p onclick="showDeletePopup('{{ comment.0.id }}')">Delete</p>
                    </div>
                    <div class="right-command">
                        <p onclick='showReplyForm(this, "{{ comment.0.id }}")'>Reply</p>
                    </div>
                    {% else %}
                    <div class="just-right-comment-command">
                        <p onclick='showReplyForm(this, "{{ comment.0.id }}")'>Reply</p>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                {% for comment_replies in comment.1 %}
                <div class="reply-comment">
                    <div class="comment-top">
                        <div class = "top-image">
                            <img src="{% static 'blog/blog_detail/images/kirito.jpg' %}" alt="Profile picture pembuat komentar yang sedang login">
                        </div>
                        <div class = "no-image-top">
                            <h4>{{ comment_replies.commentator.username }}</h4>
                            <p>{{ comment_replies.timestamp }}</p>
                        </div>
                    </div>
                    <div class="comment-body">
                        <p>{{ comment_replies.content }}</p>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="comment-command">
                        {% if user.username == comment_replies.commentator.username %}
                        <div class="left-command">
                            <p onclick="showEditForm(this, '{{ comment_replies.id }}')">Edit</p>
                            <p onclick="showDeletePopup('{{ comment_replies.id }}')">Delete</p>
                        </div>
                        <div class="right-command">
                            <p onclick='showReplyForm(this, "{{ comment.0.id }}")'>Reply</p>
                        </div>
                        {% else %}
                        <div class="just-right-comment-command">
                            <p onclick='showReplyForm(this, "{{ comment.0.id }}")'>Reply</p>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <!--Report Toast-->
    <div class="modal" id="report-modal" tabindex="-1">
        <div class="modal-dialog">
        <div class="modal-content ps-3 pe-3">
            <div class="modal-body">
            <h3>Report Blog</h3>
            </div>
            <form action="report/{{ blog.id }}" method="POST">
                {% csrf_token %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="report-type" value="Sexual content" checked>
                    <label class="form-check-label" for="report_type1">
                      Sexual content
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="report-type" value="Violent or repulsive content">
                    <label class="form-check-label" for="report_type2">
                      Violent or repulsive content
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="report-type" value="Hateful or abusive content">
                    <label class="form-check-label" for="report_type2">
                      Hateful or abusive content
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="report-type" value="Harmful or dangerous acts">
                    <label class="form-check-label" for="report_type2">
                      Harmful or dangerous acts
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="report-type" value="Spam or misleading">
                    <label class="form-check-label" for="report_type2">
                      Spam or misleading
                    </label>
                  </div>
                  <div class="form-floating">
                    <textarea name="report-description" class="form-control" placeholder="Leave a Description here" id="floatingTextarea" required></textarea>
                    <!-- <label for="floatingTextarea">Description</label> -->
                </div>

                <div class="modal-footer">
                    <input type="submit" value="Submit" class="btn" style="background-color: #4AA5A5;color: #FFFCF6;">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{% static 'blog/blog_detail/blog_detail.js' %}"></script>
{% endblock script %}
