{% extends 'base_navbar_no_search.html' %}

{% load static %}

{% block title %}My Blogs{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'blog/blog_list/blog_list.css' %}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock head %}

{% block body %}
<div id="list-container">
    <div class="header-container">
        <p class="header-title">Your Blogs</p>
        <a href="{% url 'blog:create' %}">
            <button class="header-write-button">Write Blog</button>
        </a>
    </div>
    <p class="header-subtitle">click on a blog to start editing</p>

    {% for blog in blogs %}

    <a href="{% url 'blog:write' id=blog.id %}">
        <div class="blog-container">
            <div class="blog-thumbnail-container">
                {% if blog.thumbnail != '' %}
                <img class="blog-thumbnail" src="{{ blog.thumbnail.url }}"/>
                {% else %}
                <p class="blog-thumbnail-placeholder">No Thumbnail</p>
                {% endif %}
            </div>
            <div class="blog-content-container">
                {% if blog.title != '' %}
                <p class="blog-title">{{ blog.title|safe }}</p>
                {% else %}
                <p class="blog-title">No Title Yet</p>
                {% endif %}

                <p class="blog-date blog-created">Created {{ blog.created|date:"l, j M y" }}</p>
                <p class="blog-date blog-updated">Last edited {{ blog.updated|date:"l, j M y" }}</p>

                {% if blog.is_published %}
                <p class="blog-status blog-published">Published</p>
                {% else %}
                <p class="blog-status blog-unpublished">Not Published</p>
                {% endif %}
            </div>
        </div>
    </a>

    {% endfor %}

</div>
{% endblock body %}

{% block script %}
<script src="{% static 'blog/blog_list/blog_list.js' %}"></script>
{% endblock script %}
