{% extends 'base_navbar_no_search.html' %}

{% load static %}

{% block title %}Petualanganku{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'blog/spacing.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'blog/write_blog.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'blog/label_modal.css' %}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script>
    window.onbeforeunload = function(e) {
        message = 'Don\' forget to save your changes.';
        e = e || window.event;

        if (e) {
            e.returnValue = message;
        }

        return message;
    };
</script>
{% endblock head %}

{% block body %}
<div id="blog-editor-container">
    {% csrf_token %}
    <input name="blog-id" type="hidden" value="{{ blog.id }}"/>

    <div id="content-editor">
        <div class="editor editor-title">
            <p id="content-editor-title" class="form-text form-title" contenteditable="true" placeholder="Title" spellcheck="false">{{ blog.title|safe }}</p>
        </div>

        {% for section in blog.sections.all %}
        {% if section.text_content != '' %}

        <div class="editor editor-p">
            <input name="section-id" type="hidden" value="{{ section.id }}"/>
            <button class="button-remove-section">
                <i class="fa fa-minus"></i>
            </button>
            <p class="form-text form-content" contenteditable="true" placeholder="Write something..." spellcheck="false">{{ section.text_content|safe }}</p>
        </div>

        {% elif section.image_content != '' %}
        
        <div class="editor editor-image">
            <input name="section-id" type="hidden" value="{{ section.id }}"/>
            <button class="button-remove-section">
                <i class="fa fa-minus"></i>
            </button>
            <img class="image-content" src="{{ section.image_content.url }}"/>
            <p class="form-text form-caption" contenteditable="true" placeholder="Image caption (optional)" spellcheck="false">{{ section.caption_content|safe }}</p>
        </div>

        {% endif %}
        {% endfor %}
        
        <div class="editor editor-trailing">
            <button class="button-add-section button-add-section-text">Add Text Section</button>
            <label class="button-add-section button-add-section-image" for="form-image">Add Image Section</label>
            <input id="form-image" accept="image/*" style="display: none;" type="file">
        </div>

        <div style="height: 1rem;"></div>
    </div>

    <div style="width: 1rem;"></div>

    <div id="info-editor">
        <p class="info-editor-title">Blog Information</p>

        <div class="info-form-item">
            <label id="info-form-image" for="info-form-thumbnail">
                <div class="info-form-image-input">
                    {% if blog.thumbnail != '' %}
                    <img class="info-form-thumbnail-preview" src="{{ blog.thumbnail.url }}"/>
                    {% else %}
                    <p class="info-form-image-text">Upload Thumbnail</p>
                    {% endif %}
                </div>
            </label>
            <input id="info-form-thumbnail" accept="image/*" style="display: none;" type="file">
        </div>

        <div class="info-form-item">
            <input class="info-form-input" id="info-form-title" name="info-form-title" placeholder="Title" type="text" required disabled>
        </div>

        <div class="info-form-item">
            <p class="info-form-input label-placeholder-input">Labels</p>
            <div class="info-form-item info-form-labels-btn">
                <div class="init-label-blog area-label">
                    <!-- Trigger/Open The Modal -->
                    <input type="button" class="info-form-button info-form-label area" value="Manage Area Label" id="myBtn" name="myBtn">
                </div>
                <div class="init-label-blog activity-label">
                    <input type="submit" action="{% url 'blog:create_activity_label' blog.id %}" class="info-form-button info-form-label activity" value="Manage Activity Label" id="myBtn2" name="myBtn2">
                </div>
            </div>

            <div class="info-form-saved-label">
                <p class="labels-naming area-label">Area</p>
                <ul class="list-label-blog area-label">
                    {% for ar in blog.blog_area_label.all %}
                    <div class="item-container">
                        <li class="area-items">
                        {{ ar.getLabel }}
                        </li>
                    </div>
                    {% endfor %}
                </ul>
            </div>

            <div class="info-form-saved-label">
                <p class="labels-naming activity-label">Activity</p>
                <ul class="list-label-blog activity-label">
                    {% for ac in blog.activity_labels.all %}
                    <div class="item-container">
                        <li class="area-items">
                        {{ ac.name }}
                        </li>
                    </div>
                    {% endfor %}
                </ul>
            </div>
            
            {% include 'blog/area_label_modal.html' %}
            {% include 'blog/activity_label_modal.html' %}
        </div>

        <div class="info-form-item info-form-button-container">
            {% if blog.is_published %}
            <button class="info-form-button info-form-unpublish">Unpublish</button>
            <div style="width: 0.5rem;"></div>
            <button class="info-form-button info-form-publish">Update Blog</button>
            {% else %}
            <button class="info-form-button info-form-save">Save Draft</button>
            <div style="width: 0.5rem;"></div>
            <button class="info-form-button info-form-publish">Publish</button>
            {% endif %}
        </div>
    </div>

    <div id="tools">
        <button class="tools-item button-bold"><b>B</b></button>
        <button class="tools-item button-italic"><i>I</i></button>
        <button class="tools-item button-underline"><u>U</u></button>
    </div>
</div>
{% endblock body %}

{% block script %}
<script src="{% static 'blog/write_blog.js' %}"></script>
<script src="{% static 'blog/area_label_modal.js' %}"></script>
<script src="{% static 'blog/activity_label_modal.js' %}"></script>
{% endblock script %}