@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    background-color: #FFFCF6;
    color: #4AA5A5;
    font-family: 'Ubuntu', sans-serif;
}

.card {
    background-color: #FFFCF6;
    border-color: #4AA5A5;
    border-width: 3px;
    cursor: pointer;
}

.dark-button {
    background-color: #4AA5A5;
    color: #FFFCF6;
}

.light-button {
    border-color: #4AA5A5;
    border-width: 2px;
    color: #4AA5A5;
}

.submit-button {
    display: block;
    margin: auto;
}

#my-modal-2 {
    margin-top: 10%;
}