.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--main);
    align-items: center;
}

img.main {
    width: 15em;
    margin: 1.5em;
}

.nav-right-bar {
    display: flex;
    margin: 1.5em;
    align-items: center;
    color: var(--white);
}

.my-profile-menu {
    margin-right: 2em;
}

.my-profile-menu button{
    color: var(--white);
    font-weight: 700;
}

p.about-menu {
    margin-right: 2em;
    margin-bottom: 0;
    white-space: nowrap;
    font-weight: 700;
}

p.about-menu a {
    color: var(--white);
    text-decoration: none;
    transition: all 0.1s linear;
}

p.about-menu a:hover {
    color: var(--darkgray);
}

.form-search {
    display: flex;
}

button.btn-custom {
    background-color: var(--white);
    color: var(--main);
}

button.btn-custom:hover {
    background-color: #4AA5A5;
    color: #FFFCF6;
}

button.btn-custom.submit-search {
    font-weight: 700;
    border-radius: 0;
    border-left: 2px solid var(--main);
}

.custom-search-bar {
    border-radius: 2em 0 0 2em;
    background-color: var(--white);
    border-style: none;
}

.custom-search-bar:focus {
    background-color: #FFFCF6;
}

.sub-search {
    border-radius: 2em;
}

#dropdown-custom {
    background-color: #4AA5A5;
}

#dropdown-custom li a{
    color: #FFFCF6;
}

#dropdown-custom li a:hover{
    background-color: #FFFCF6;
    color: #4AA5A5;
}

.nav-container p {
    margin: 0;
}

.nav-item-right {
    margin-left: 4rem;
}

/* Profile dropdwon */

.nav-dropdown-arrow {
    border: solid var(--white);
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-bottom: 0.4rem;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.nav-dropdown-divider {
    border-top: 1px solid var(--lightgray);
    margin: 0;
}

.nav-profile-dropdown {
    position: relative;
    white-space: nowrap;
}

.nav-dropdown-text {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-profile-dropdown-menu {
    background-color: var(--white);
    border: 1px solid var(--lightgray);
    border-radius: 0.2rem;
    display: none;
    list-style: none;
    min-width: 8rem;
    padding: 0.3rem 0;
    position: absolute;
}

.nav-profile-dropdown:hover .nav-profile-dropdown-menu {
    display: block;
}

.nav-dropdown-item-container {
    margin: 0.2rem 0;
    padding: 0.2rem 0.8rem;
}

.nav-dropdown-item-container:hover {
    background-color: var(--lightgray);
}

.nav-dropdown-item {
    color: var(--black);
    text-decoration: none;
    width: 100%;
}

.nav-dropdown-item:hover {
    color: var(--black);
}
