html {
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --danger: crimson;
    --main: #4AA5A5;
    --main-dark: #448E8E;

    --black: black;
    --darkgray: #212529;
    --gray: gray;
    --lightgray: lightgray;
    --white: #FFFCF6;
}