<!DOCTYPE html>
<html>

{% load static %}

    <head>
        <title>{% block title %}{% endblock title %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

        <style>
            {% block styling %}
            {% endblock styling %}
        </style>
        
        {% block head %}
        {% endblock head %}
    </head>

    <body id="body" style="padding: 0; margin: 0;">
        
        {% block body %}
        {% endblock body %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static 'script/script.js' %}"></script>

        {% block script %}
        {% endblock script %}
    </body>
</html>
