{% load static %}
<div class="nav-container">
    <div class="nav-logo">
        <a href="{% url 'home:home' %}"><img class="main" src="{% static 'img/Logo Petualangku.svg' %}" alt="Petualangku's logo"></a>
    </div>
    <div class="nav-right-bar">
        <p class="nav-item-right about-menu"><a href="{% url 'home:about' %}">About Us</a></p>
        <div class="nav-item-right nav-profile-dropdown my-profile-menu">
            <div class="nav-dropdown-text">
                <p>My Profile</p>
                <div style="width: 0.5rem;"></div>
                <i class="nav-dropdown-arrow"></i>
            </div>
            <ul class="nav-profile-dropdown-menu" style="top: 0.1rem;">
                <li class="nav-dropdown-item-container"><a class="nav-dropdown-item" href="#">Settings</a></li>
                <li class="nav-dropdown-item-container"><a class="nav-dropdown-item" href="{% url 'blog:blog_list' %}">My Blogs</a></li>
                <li class="nav-dropdown-item-container"><a class="nav-dropdown-item" href="{% url 'blog:create' %}">Write Blog</a></li>
                <li><hr class="nav-dropdown-divider"></li>
                {% if user.is_authenticated %}
                    <li class="nav-dropdown-item-container"><a class="nav-dropdown-item" href="{% url 'authentication:logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-dropdown-item-container"><a class="nav-dropdown-item" href="{% url 'authentication:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

