{% load static %}
<body id='nav-custom'>
    <div class="nav-container">
        <div class="nav-logo">
          <a href="{% url 'home:home' %}"><img class="main" src="{% static 'img/Logo Petualangku.svg' %}" alt="Petualangku's logo"></a>
        </div>
        <div class="nav-right-bar">
            <p class="nav-item-right about-menu"><a href="{% url 'home:about' %}">About Us</a></p>
            {# TODO: implement this to user.profile.is_admin #}
            {% if user.profile.is_admin %}
            <div class="nav-item-right nav-profile-dropdown my-profile-menu" style="margin-right: 0.1rem;">
                <div class="nav-dropdown-text">
                    <p>Manage</p>
                    <div style="width: 0.5rem;"></div>
                    <i class="nav-dropdown-arrow"></i>
                </div>
                <ul class="nav-profile-dropdown-menu">
                    <li class="nav-dropdown-item-container"><a class="nav-dropdown-item" href="{% url 'labels:manage' %}">Manage Labels</a></li>
                    <li class="nav-dropdown-item-container"><a class="nav-dropdown-item" href="{% url 'manage_report:reports' %}">Manage Reports</a></li>
                </ul>
            </div>
            {% endif %}
            <div class="nav-item-right nav-profile-dropdown my-profile-menu" style="margin-right: 4rem;">
                <div class="nav-dropdown-text">
                    <p>My Profile</p>
                    <div style="width: 0.5rem;"></div>
                    <i class="nav-dropdown-arrow"></i>
                </div>
                <ul class="nav-profile-dropdown-menu">
                    <li class="nav-dropdown-item-container"><a class="nav-dropdown-item" href="#">Settings</a></li>
                    <li class="nav-dropdown-item-container"><a class="nav-dropdown-item" href="{% url 'blog:blog_list' %}">My Blogs</a></li>
                    <li class="nav-dropdown-item-container"><a class="nav-dropdown-item" href="{% url 'blog:create' %}">Write Blog</a></li>
                    <li><hr class="nav-dropdown-divider"></li>
                    {% if user.is_authenticated %}
                        <li class="nav-dropdown-item-container"><a class="nav-dropdown-item" href="{% url 'authentication:logout' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-dropdown-item-container"><a class="nav-dropdown-item" href="{% url 'authentication:login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="input-group nav-search">
              <form action="{% url 'home:search_result' %}" method="post" class="form-search">
                {% csrf_token %}
                <input type="text" class="form-control custom-search-bar" name="keyword-search" aria-label="Text input with segmented dropdown button" placeholder="Search blog here..." required>
                <button type="submit" class="btn btn-custom submit-search">Search</button>
              </form>
              <button type="button" class="btn btn-custom dropdown-toggle dropdown-toggle-split sub-search" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-end" id="dropdown-custom">
                <li><a class="dropdown-item" href="{% url 'home:filter_search' %}">Filtered search</a></li>
              </ul>
            </div>
        </div>
    </div> 
</body>


