#detail-container {
    margin: 2rem auto;
    width: 640px;
}

#detail-blog {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
    width: 640px;
}

#detail-blog p {
    margin: 0;
}

/* Blog styling */

.content-profile {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.content-profile-image {
    border-radius: 50%;
    flex: none;
    height: 3rem;
    object-fit: cover;
    width: 3rem;
}

.content-profile-user {
    color: var(--main);
    text-decoration: none;
}

.content-profile-user:active {
    color: var(--main-dark);
}

.content-flex-filler {
    flex: 1;
}

.content-text {
    color: var(--black);
}

.content-text-title {
    font-size: x-large;
}

.content-text-p {
    font-size: large;
}

.content-text-caption {
    font-size: medium;
    text-align: center;
}

#report-modal-button {
    background-color: inherit;
    border: none;
    color: var(--gray);
    cursor: pointer;
}

#report-modal-button:hover {
    color: var(--black);
}

/* Comment styling */
#comment-section {
    height: 100%;
    width: auto;
    font-size: 16px;
    color: var(--main);
    margin: 0% 0% 0% 0%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    animation-name: easein;
    animation-duration: 0.4s
}

@keyframes easein {
    from {opacity: 0}
    to {opacity: 1}
}

.modal-content {
    margin: 15% auto;
    border: 1px solid var(--white);
    width: 35%;
}

.modal-header {
    padding: 2% 2% 2% 3%;
    background-color: var(--main);
    color: var(--white);
}

.modal-body {
    width: 100%;
    height: auto;
    padding: 2% 0% 2% 0%;
    background-color: var(--white);
    font-weight: bold;
}

#deleteModalBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

.modal-body button {
    border: 0px;
    border-radius: 25px;
    background-color: var(--danger);
    padding: 2% 3% 2% 3%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.modal-body #cancelDelete {
    cursor: pointer;
}

.modal-body #modalNotification {
    padding: 2% 3% 2% 2%;
}

.close {
    color: var(--lightgray);
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 1% 2% 2% 1%;
}

.close:hover,
.close:focus {
    color: var(--gray);
    cursor: pointer;
}

#comment-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-not-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-not-form button {
    border: 0px;
    border-radius: 25px;
    background-color: var(--main);
    padding: 1% 3% 1% 3%;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#comment-comment {
    margin: 2% 0% 0% 0%;
}

.comment-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-image {
    width: 75px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.top-image img {
    min-width: 50%;
    min-height: 50%;
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.no-image-top {
    width: 100%;
    height: 100%;
    padding-left: 2%;
    line-height: 75%;
}

.comment-body {
    text-align: justify;
}

.no-image-top p {
    color: #91C1C1;
}

.comment-command {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #88C2C2;
}

.just-right-comment-command {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.just-right-comment-command p {
    cursor: pointer;
}

.left-command {
    width: 80%;
    display: flex;
    flex-direction: row;
    line-height: 20px;
    gap: 4%;
}

.left-command p {
    cursor: pointer;
}


.right-command {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.right-command p {
    cursor: pointer;
}

.reply-comment {
    margin: 0% 0% 0% 9%;
}

.form-comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    transition: ease-in 300ms;
}

.textarea-form {
    width: 96%;
    height: 150px;
    font-size: 16px;
    color: #4AA5A5;
    padding: 2%;
    resize: none;
    border-radius: 20px;
    border: 0px;
    box-shadow: 7px 6px 14px -1px rgba(0,0,0,0.14);
    -webkit-box-shadow: 7px 6px 14px -1px rgba(0,0,0,0.14);
    -moz-box-shadow: 7px 6px 14px -1px rgba(0,0,0,0.14);
}

.textarea-form::placeholder {
    color: var(--main);
}

.form-command {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
    margin: 2% 0% 0% 0%;
}

.form-command p {
    cursor: pointer;
}

.form-command button {
    border: 0px;
    border-radius: 25px;
    background-color: var(--main);
    padding: 1% 3% 1% 3%;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

button {
    opacity: 0.8;
}

button:hover {
    opacity: 1;
}