body {
    background-color: #FFFCF6;
}

.main-container {
    width: 100%;
    height: 100%;
    margin: 3em 0;
}

.submain-container {
    display: flex;
}

.sub-container {
    margin: 0 5em 0 5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4em;
}

.title-page {
    font-size: 3em;
    font-weight: 500;
    color: #4AA5A5;
}

.desc-page {
    font-size: larger;
}

span.imp-word {
    color: #4AA5A5;
    font-weight: 500;
}

.girlc {
    max-width: 310px;
}