body {
    background-color: #FFFCF6;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 3em 0;
}

.sub-container.info {
    flex: 1;
    margin: 0 2.5em 0 5em;
}

.sub-container.main-form-search {
    flex: 1;
    margin: 0 5em 0 2.5em;
    justify-content: space-between;
}

div.sub-container-form {
    margin-bottom: 5em;
}

.keyword-input {
    margin-bottom: 2em;
}

.keyword-input input{
    border-radius: 1em;
    border: 2px solid #4AA5A5;
    width: 100%;
    height: 2em;
    padding: 0 0.75em;
    background-color: #FFFCF6;
}

.activity-label-input {
    margin-bottom: 2em;
}

.area-label-input {
    margin-bottom: 2em;
}

.pick-label {
    border-radius: 0.5em;
    margin-left: 1em;
    background-color: #4AA5A5;
    color: #FFFCF6;
    border-style: none;
    font-weight: bold;
}

button.pick-label.area {
    height: 47%;
    align-self: flex-end;
}

.title-page {
    font-size: 3em;
    font-weight: 500;
    color: #4AA5A5;
}

.title-form {
    font-size: 1.5em;
    font-weight: 600;
}

.area-list {
    display: flex;
}

.area-list p {
    margin-bottom: 0;
}

.province-input {
    margin-right: 2em;
}

.item-container {
    display: flex;
    background-color: #4AA5A5;
    border-radius: 4px;
}

input.filter-area, input.filter-activity {
    background-color: #4AA5A5;
    border: none;
    color: #FFFCF6;
    white-space: normal;
}

input.filter-area:disabled, input.filter-activity:disabled {
    background-color: #4AA5A5;
    border: none;
    color: #FFFCF6;
    white-space:normal;
    width: auto;
}

.remove-filter-btn {
    background-color: #4AA5A5;
    color: #FFFCF6;
    border: none;
    border-radius: 4px;
}

input.submit-search {
    border-radius: 2em;
    background-color: #4AA5A5;
    color: #FFFCF6;
    border-style: none;
    padding: 0.5em 1em;
    font-weight: bold;
}

.activity-list, .area-list {
    margin: 1em 0;
}

.list-label {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.list-label li{
    background-color: #4AA5A5;
    padding: 0.25em 0.25em 0.25em 0.75em;
    border-radius: 0.5em;
    color: #FFFCF6;
    
}

.delete-item {
    background-color: #4AA5A5;
    border: none;
    border-left: 2px solid #FFFCF6;
    color: #FFFCF6;
    font-weight: bold;
    margin-left: 0.5em;
}

select {
    border: 1px solid #4AA5A5;
    background-color: #FFFCF6;
}

select#activity-label-list{
    width: 25%;
}

.item-province {
    width: 15vw;
}

.item-city {
    width: 15vw;
}

span.imp-word {
    color: #4AA5A5;
    font-weight: 500;
}