body {
    background-color: #FFFCF6;
}

.main-container {
    width: 100%;
    height: 100%;
    margin: 3em 0;
}

.sub-container.info {
    margin: 0 5em;
}

.sub-container.search-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 5em;
}

.sub-container-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.search-again {
    background-color: #4AA5A5;
    color: #FFFCF6;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: large;
}

.title-page {
    font-size: 3em;
    font-weight: 500;
    color: #4AA5A5;
}

.desc-page {
    font-size: larger;
}
.card-blog {
    border: 4px solid #4AA5A5;
    width: 35%;
    margin-bottom: 2em;
    border-radius: 10px;
    transition: 0.3s;
    position:relative;
}

.card-blog:hover {
    background-color: #4AA5A5;
    color:#FFFCF6
}

.link-spanner {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.thumbnail-card-blog {
    height: 10em;  
}

img.thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.info-card-blog {
    display: flex;    
}

.author-info {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    justify-content: center;
    align-items: center;
    margin: 1em 1em 0 1em;
}

.author-info .author-pp {
    width: 4.5em;
}

.author-info .author-pp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2em;
}

.author-info p{
    color: #4AA5A5;
    text-align: center;
}

.card-blog:hover .author-info p{
    color: #FFFCF6;
}

.blog-info {
    flex: 2;
}

.blog-title {
    color: #4AA5A5;
    font-size: 2.5em;
    font-weight: 500;
}

.card-blog:hover .blog-title {
    color: #FFFCF6;
}

.blog-labels .list-label {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.list-label li{
    background-color: #4AA5A5;
    margin-right: 1.5em;
    margin-bottom: 1em;
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    color: #FFFCF6;
}

.card-blog:hover .list-label li {
    color: #4AA5A5;
    background-color: #FFFCF6;
}

.blog-numbers {
    display: flex;
    margin-bottom: 1em;
}

.blog-numbers .blog-n {
    display: flex;
    margin-right: 2em;
    align-items: center;
}

.blog-n p {
    margin-left: 0.5em;
    font-size: 1.25em;
    margin-bottom: 0;
}

span.imp-word {
    color: #4AA5A5;
    font-weight: 500;
}